	<div class="row" id="cart-page">
		<div class="col-md-9">
				<div class="panel panel-default">
				<div class="panel-heading">Your Cart</div>
				<div class="panel-body">
					<p>Thank you for shopping with us!</p>
				</div>

				<table class="table">
					<thead>
						<tr>
							<th class="hidden-xs"></th>
							<th>Item</th>
							<th>Quantity</th>
							<th class="hidden-xs">Item Price</th>
							<th>Total Price</th>
						</tr>
					</thead>
					<tbody>

					<% @cart.line_items.each do |line_item| %>
						<tr>
							<td id="thumbnail-div" class="hidden-xs">
								

								<%= link_to line_item.product do %>

							
								<%= image_tag line_item.product.image.url, alt: line_item.product.title, class: 'cart-thumbnail' %>
								<% end %>

							</td>
							<td>
								<%= link_to line_item.product do %>
								<p> <%= line_item.product.title %></p>
								<% end %>

								<p class="gray-text">Item <%= line_item.product.sku %></p>
							</td>
							<td><%= number_field_tag :quantity, line_item.quantity, min: 1, max: 100 %>

							<span class="glyphicon glyphicon-refresh"></span>update
							<%= link_to line_item_path(line_item), method: :delete do %>
							<a href="#"><span class="glyphicon glyphicon-remove"></span>remove</a>
							<% end %>
							</td>
							<td class="hidden-xs"><%= number_to_currency line_item.product.price %></td>
							<td class="total-price"><%= number_to_currency line_item.product.price %></td>
						</tr>

						<% end %>
							
					</tbody>
				</table>
			</div>
		</div> <!-- End left column -->
		<div class="col-md-3">
			<div class="panel panel-default" id="order-summary">
				<div class="panel-heading">Order Summary</div>
				<table class="table">
					<tbody>
						<tr>
							<td>Subtotal</td>
							<td>$39.97</td>
						</tr>
						<tr>
							<td>Shipping</td>
							<td>FREE</td>
						</tr>
						<tr>
							<td>Estimated Tax</td>
							<td>$0.00</td>
						</tr>
						<tr class="total-price">
							<td>Total</td>
							<td>$39.97</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a href="#"><button type="button" id="check-out" class="btn btn-red btn-lg">Checkout</button></a>
		</div> <!-- End right column -->
	</div> <!-- /.row --> 
