#3rd Time Lucky ?

<div class="row">
		<div class="col-xs-12 hidden-sm hidden-xs">
			<ol class="breadcrumb">	
				<li><a href="/">Featured</a></li>
				<li class="active"><%= @product.title %> Bill</li>
			</ol>
			<hr>
		</div> 
	</div> <!-- /.row #breadcrumbs -->
	<div class="row" id="product-page">
		<div class="col-md-5 col-sm-6 col-xs-12">
			<div class="visible-xs"> <!-- mobile only -->
						<h1><%= @product.title %> Bill</h1>
						<p class="gray-text">Item #<%= @product.sku %></p>
						<hr>
			</div> 
			<%= image_tag @product.image.url, alt: @product.title, class: "product" %>
		</div> <!-- /column1 -->
		<div class="col-md-7 col-sm-6 col-xs-12">
				<h1 class="hidden-xs"><%= @product.title %> Bill</h1>
				<p class="gray-text hidden-xs">Item #<%= @product.sku %></p>
				<hr class="visible-xs">
				<p class="price"><%= number_to_currency @product.price %></p>
				<p class="star-rating-large five ir">Star Rating</p>
			<%= form_tag '/cart', method: :post do %>	
				<%= hidden_field_tag :product_id, @product.id %>
				<%= number_field_tag :quantity, 1, min: 1, max: 100 %>
				<%= button_tag id: 'add-cart', class: 'btn btn-red btn-med' do %>
				<span class="glyphicon glyphicon-shopping-cart"> </span> Add to cart
				<% end %>


			<% end %>

				
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
					<li><a href="#specs" data-toggle="tab">Specs</a></li>
					<li><a href="#reviews" data-toggle="tab">Reviews</a></li>
				</ul> <!-- / .nav-tabs -->
		 	<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="details">
					<p><%= raw @redcarpet.render @product.description %></p>
				</div> <!-- / details -->
				<div class="tab-pane fade" id="specs">
					<%= raw @redcarpet.render @product.specs %>
				</div> <!-- / #specs -->
				<div class="tab-pane fade" id="reviews">
					Coming Soon! # yeah right	? Not if I keep having to do this shite section over and over			 <hr>
			</div> <!-- / tab panes -->
			</div> <!-- / tab content -->
		</div> <!-- /column2 --> 
	</div> <!-- /.row --> 